


// Type
$sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;

$body-font-size:    14px;
$body-line-height:  1.5;
$scale-factor:      1.5;
$ie8compatability:  false;